



<%= link_to("BACK TO LIST", pages_path, :class => 'back-link')%>
<div class="Page delete">
  <h1>Delete Subject</h1>
  <%= form_for(@page,:url => page_path(@page),:method => 'delete')do |f| %>
  <p>Are you sure you want to delete this page </p>
  <p class="reference-name"><%= @page.name%></p>


  <div class="form-buttons">
    <%= f.submit("Delete Page")%>
  </div>
  <%end%>
</div>