



<div class="pages index">
  <h1>Pages</h1>
  <%= link_to("Add new Page",'pages/new',:class => 'action new')%>
  <table class="listing" summary="Page list">
    <tr class="header">
      <th>#</th>
      <th>Subject ID</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>

      <th>Acton</th>
    </tr>
    <% @pages.each do |page|%>
    <tr>
      <td><%= page.position %></td>
      <td><%= page.subject_id %></td>
      <td><%= page.name %></td>
      <td><%= page.permalink %></td>
      <td class="center"><%= page.visible ? 'Yes':'No'%></td>

      <td class = "action">
        <%=link_to("Show",page_path(page),:class=>'acton show')%>
        <%=link_to("Edit",edit_page_path(page),:class=>'acton edit')%>
        <%=link_to("Delete",delete_page_path(page),:class=>'acton delete')%>
      </td>
    </tr>
    <%end%>
  </table>





</div>