



<%= link_to("BACK TO LIST", pages_path, :class => 'back-link')%>
<div class="Page new">
  <h1>Create Page</h1>
  <%= form_for(@page,:url => pages_path,:method => 'post')do |f| %>
  <table summary="Page for fields">
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
      <th>Subject ID</th>
      <td><%= f.text_field(:subject_id)%></td>
    </tr>

    <tr>
      <th>Permalink</th>
      <td><%= f.text_field(:permalink)%></td>
    </tr>


    <tr>
      <th>Position</th>
      <td><%= f.text_field(:position)%></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= f.text_field(:visible)%></td>
    </tr>
  </table>
  <div class="form-buttons">
    <%= f.submit("Create Page")%>
  </div>
  <%end%>
</div>