



<%= link_to("BACK TO LIST", pages_path, :class => 'back-link')%>
<div class="sujects show">
  <h1>Show Page</h1>
  <table summary="Page detail view">
    <tr>
      <th>Name</th>
      <td><%= @page.name %></td>
    </tr>
    <tr>
      <tr>
        <th>Subject ID</th>
        <td><%=  @page.subject_id %></td>
      </tr>

      <tr>
        <th>Permalink</th>
        <td><%=  @page.permalink %></td>
      </tr>

      <th>Position</th>
      <td><%= @page.position %></td>
    </tr>
    <tr>
      <th>Visible</th>
      <td><%= @page.visible ? 'true' : 'false' %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @page.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @page.updated_at %></td>
    </tr>
  </table>
</div>