<%= link_to("BACK TO LIST", subjects_path, :class => 'back-link')%>
<div class="subject delete">
  <h1>Delete Subject</h1>
  <%= form_for(@subject,:url => subject_path(@subject),:method => 'delete')do |f| %>
  <p>Are you sure you want to delete this subject </p>
  <p class="reference-name"><%= @subject.name%></p>


  <div class="form-buttons">
    <%= f.submit("Delete Subject")%>
  </div>
  <%end%>
</div>