
<% if !flash[:notice].blank?%>
<div class ="notice">
  <%= flash[:notice] %>
</div>
<%end%>



<div class="subjects index">
  <h1>Subjects</h1>
  <%= link_to("Add new Subject",'subjects/new',:class => 'action new')%>
  <table class="listing" summary="Subject list">
    <tr class="header">
      <th>#</th>
      <th>Subject</th>
      <th>Visible</th>
      <th>Pages</th>
      <th>Acton</th>
    </tr>
    <% @subjects.each do |subject|%>
    <tr>
      <td><%= subject.position %></td>
      <td><%= subject.name %></td>
      <td class="center"><%= subject.visible ? 'Yes':'No'%></td>
      <td class="center"><%= subject.pages.size%></td>
      <td class = "action">
        <%=link_to("Show",subject_path(subject.id),:class=>'acton show')%>
        <%=link_to("Edit",edit_subject_path(subject.id),:class=>'acton edit')%>
        <%=link_to("Delete",delete_subject_path(subject.id),:class=>'acton delete')%>
      </td>
    </tr>
    <%end%>
  </table>
